<template id="list-users-template">
    <table class="table table-sm table-hover">
        <thead class="thead-light">
            <tr>
                <th class="text-center font-weight-bold" scope="col">#</th>
                <th class="text-left" scope="col">Name</th>
                <th class="text-left" scope="col">Last Name</th>
                <th class="text-left" scope="col">Country</th>
                <th class="text-center" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $root.availableUsers">
            <tr>
                <th class="text-center align-middle font-weight-bold" scope="row" data-bind="text: $index() + 1"></th>
                <td class="text-left" data-bind="text: name"></td>
                <td class="text-left" data-bind="text: lastName"></td>
                <td class="text-left" data-bind="text: countryNameAndCode"></td>
                <td class="text-center align-middle">
                    <button type="button" class="btn btn-outline-danger btn-sm" data-bind="click: () => $root.showCRUDUserModal('delete', $data);">
                        <span class="fas fa-trash-alt"></span>
                    </button>
                     <button type="button" class="btn btn-outline-secondary btn-sm" data-bind="click: () => $root.showCRUDUserModal('details', $data);">
                        <span class="fas fa-info-circle"></span>
                    </button>
                     <button type="button" class="btn btn-outline-success btn-sm" data-bind="click: () => $root.showCRUDUserModal('edit', $data);">
                        <span class="fas fa-edit"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</template>