@page
@model IndexUserModel
@{
    ViewData["Title"] = "Users Control";
}

<div class="card border-secondary">
    <div class="card-header bg-secondary text-white d-flex justify-content-between">
        <h1 class="h4 mb-0">
            <span class="fas fa-users"></span>
            List of Users
        </h1>
        <button type="button" class="btn btn-primary btn-sm font-weight-bold"
            data-bind="click: () => showCRUDUserModal('create', null);">
            <span class="fas fa-plus"></span>
            Create New
        </button>
    </div>
    <div class="card-body">

        <!-- Search Filters !-->
        <div class="mb-2" data-bind="template: { name: 'filter-users-template', data: searchUserViewModel }"></div>

        <!--Spinner: Loading Users-->
        <loading-spinner params="loading: loadingUsers, message: 'Loading Users...'"></loading-spinner>

        <!-- Table: List of Users!-->
        <div class="mb-2" data-bind="template: { name: 'list-users-template' }"></div>

    </div>
</div>


<!--Confirm Action Component-->
<confirm-action-modal params="viewModel: confirmActionModal"></confirm-action-modal>


@await Html.PartialAsync("~/Pages/Shared/_ConfirmActionModalTemplate.cshtml")

@await Html.PartialAsync("~/Pages/Shared/_LoadingSpinnerTemplate.cshtml")

@await Html.PartialAsync("~/Pages/Users/_FilterUsersTemplate.cshtml", Model.SearchUserViewModel)

@await Html.PartialAsync("~/Pages/Shared/_PaginationTemplate.cshtml")

@await Html.PartialAsync("~/Pages/Users/_ListUsersTemplate.cshtml")

@await Html.PartialAsync("~/Pages/Users/_CRUDUsersTemplate.cshtml", Model.CRUDUserViewModel)


@section Scripts{
    <script src="~/js/Users/SearchUserViewModel.js" asp-append-version="true"></script>
    <script src="~/js/Users/UserViewModel.js" asp-append-version="true"></script>
    <script src="~/js/Users/CRUDUserViewModel.js" asp-append-version="true"></script>
    <script src="~/js/Users/IndexUser.js" asp-append-version="true"></script>

    @await Html.PartialAsync("~/Pages/Shared/_ValidationScriptsPartial.cshtml")
}
