@page
@model IndexModel
@{
    ViewData["Title"] = "Users Control";
}

<div class="card">
    <div class="card-header">
        <h1>Users</h1>
    </div>
    <div class="card-body">
        <p>Hello, this is the Users page!</p>
    </div>
</div>
