/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  /* Vertically center the text there */
}



/*#region Estilos e Iconos para jquery.validate.unobstrusive */

.field-validation-error {
  /*position: relative;*/
  /*BUG EN FIREFOX :(*/
  display: inline-block;
}

.valid {
  border-color: #28a745;
}


input.valid,
select.valid {
  background-image: url('/images/Check-icon.png');
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

/*Sobrescribe el  padding-right de los campos invalidos cuando se usa input-group-sm*/
.input-group.input-group-sm>input.form-control.valid,
input.form-control.invalid {
  padding-right: 20px;
}

/*Sobrescribe el padding-left de los campos invalidos cuando se usa input-group-sm*/
.input-group.input-group-sm>select.form-control.valid,
select.form-control.invalid {
  padding-left: 20px;
}


input.valid,
input.invalid {
  padding-right: 20px;
  background-position: 99% 50%;
}

select.valid,
select.invalid {
  padding-left: 20px;
  background-position: 1% 50%;
}

input.invalid,
select.invalid,
textarea.invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}

input.invalid,
select.invalid {
  background-image: url('/images/error-icon.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
}


input.pending,
select.pending {
  background-image: url('/images/loading.gif');
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

input.pending {
  padding-right: 30px;
  background-position: 99% 50%;
}

select.pending {
  padding-left: 30px;
  background-position: 1% 50%;
}

label.invalid {
  color: #dc3545;
}

/*#endregion */